h2,
h3,
h4,
p {
  font-family: "Roboto Mono";
}

.header {
  background-image: url(bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header > h1 {
  margin: 0 0 0 80px;
  font-size: 48px;
  color: white;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
}

.header > h2 {
  margin: 20px 0 0 60px;
  font-size: 18px;
  border-bottom: 1px solid black;
  width: 305px;
  text-align: center;
}

.content {
  margin: 0 80px;
}

.content > p {
  max-width: 1100px;
  line-height: 30px;
}

.content > h2 {
  padding-top: 10px;
}

.subtitle {
  margin: 30px 0 50px 0;
  max-width: 800px;
  color: #cc5500;
  font-size: 22px;
}

.divider {
  border-bottom: 2px solid #ddd;
}

.emphasis {
  font-weight: 600;
  font-style: italic;
}

pre,
li {
  max-width: 1100px;
  font-size: 16px;
}

blockquote {
  font-size: 14px;
  font-style: italic;
  color: slategrey;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  font-size: 16px;
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.code {
  color: #991f8f;
  font-weight: 600;
}
