h2,
h3,
h4,
p {
  font-family: "Roboto Mono";
}

.header {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(2) rotate(25)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(141,45.5%,80.6%,1)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(147,43.2%,71%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header > h1 {
  margin: 0 0 0 80px;
  font-size: 48px;
  color: white;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
}

.header > h2 {
  margin: 20px 0 0 60px;
  font-size: 18px;
  border-bottom: 1px solid black;
  width: 305px;
  text-align: center;
}

.content {
  margin: 0 80px;
}

.content > p {
  max-width: 1100px;
  line-height: 30px;
}

.content > h2 {
  padding-top: 10px;
}

.subtitle {
  margin: 30px 0 50px 0;
  max-width: 800px;
  color: #cc5500;
  font-size: 22px;
}

.divider {
  border-bottom: 2px solid #ddd;
}

.emphasis {
  font-weight: 600;
  font-style: italic;
}

pre,
li {
  max-width: 1100px;
  font-size: 16px;
}

blockquote {
  font-size: 14px;
  font-style: italic;
  color: slategrey;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  font-size: 16px;
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.code {
  color: #991f8f;
  font-weight: 600;
}
